<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sertifikasi Halal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/awkafpay-logo.png" sizes="16x16" rel="icon">
  <link href="assets/img/awkafpay-logo.png" sizes="16x16" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="" class="logo d-flex align-items-center">
        <!-- <img src="assets/img/awkafpay-logo.png" alt=""> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#about">Home</a></li>
          <li><a class="nav-link scrollto" href="#video">Video</a></li>
          <li><a class="nav-link scrollto" href="#add-info-wa">Kontak</a></li>
          <li><a class="nav-link scrollto" href="#register-awkafpay">Daftar</a></li>
          <li><a class="nav-link scrollto" href="#register-workshop">Workshop</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <!-- End Header -->

  <main id="main" class="main pt-4">

    <!-- ======= F.A.Q Section ======= -->

    <!-- start copywriting section -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <header class="section-header">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pb-4">
                    <!-- <img src="assets/img/swakarta-logo.png" class="img-fluid img-r" alt="" style="max-width: 30px; min-width: 180px; height: auto;"> -->
                    <img src="assets/img/swakarta-logo.png" class="img-fluid img-r" alt="" style="width: auto; height: 13rem;">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <!-- <img src="assets/img/logo-halal-indonesia.png" class="img-fluid img-r" alt="" style="max-width: 17px; min-width: 115px; height: auto;"> -->
                    <img src="assets/img/logo-halal-indonesia.png" class="img-fluid img-r" alt="" style="width: auto; height: 13rem;">
                </div>
            </div>
            <!-- <div class="row g-0">
              <div class="col-lg-6">
                <div data-aos="zoom-out" data-aos-delay="200">
                  <img src="assets/img/swakarta-logo.png" class="img-fluid" alt="" style="max-width: 30px; min-width: 200px; height: auto;">
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="zoom-out" data-aos-delay="200">
                  <img src="assets/img/logo-halal-indonesia.png" class="img-fluid" alt="" style="max-width: 20px; min-width: 140px; height: auto;">
                </div>
              </div>
            </div> -->
          </header>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <div class="content">
                <h1><strong>Masih Bingung Cara Mengurus Sertifikasi Halal?</span></strong></h1>
                <h3 style="color: black;">Silahkan mengisi Data Pengajuan Sertifikasi Halal di bawah ini dan Konsultan Halal SWAKARTA® akan membantu dan mendampingi Anda dalam melakukan pendaftaran Sertifikasi Halal bagi Produk Anda.</h3>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>
    <!-- end copywriting section -->

    <!-- start scroll-to-video section -->
    <!-- <section id="scroll-to-video" class="about py-0">
      <div class="container" data-aos="fade-up">
        <header class="section-header bg-light p-4">
          <div class="content">
            <h1><strong>HALAL SELF DECLARE ASSESSMENT</span></strong></h1>
            <h5 style="color: black;">Gratis untuk 1.000.000 Produk</h5>
          </div>
          <div class="text-center text-lg-center pt-4">
            <a href="#video" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Next</span>
              <i class="bi bi-caret-down-square-fill"></i>
            </a>
          </div>
        </header>
      </div>
    </section> -->
    <!-- end scroll-to-video section -->

    <!-- section video short -->
    <!-- <section id="video" class="video">
      <div class="row p-4 d-flex justify-content-center">

        <header class="section-header py-1">
          <h2><strong>Yuk, Temukan Solusinya di Video Singkat ini</strong></h2>
          <h4 class="pb-3">Video ini hanya 8 menit, tapi 8 menit itu dapat merubah saldo rekening Anda..</h4>
        </header>

        <div class="col-md-10 p-2">
          <div class="ratio ratio-16x9" style="border-radius: 7px; overflow: hidden;">
            <iframe src="https://www.youtube.com/embed/rdq4eaqKdnc" title="SHORT PREVIEW PELUANG BISNIS AGEN AWKAFPAY™" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </section> -->
    <!-- end video section -->

    <!-- start form-halal section -->
    <section id="form-halal" class="about pt-0">

      <div class="container" data-aos="fade-up">

        <div class="row gx-0">
          <!-- <div class="col-lg-4 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/from-ppt12.png" class="img-fluid" alt="" style="max-width: 200px; min-width: 100px; height: auto;">
          </div> -->

          <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <center>
                <h1 style="color:purple;"><strong>HALAL SELF DECLARE ASSESSMENT</span></strong></h1>
                <h5 style="color: black;">Gratis untuk 1.000.000 Produk</h5>
              </center>
              <br>
              <h3 style="color: black;">Silahkan mengisi Data Usaha dan Data Produk yang akan diajukan Sertifikasi Halal berikut ini dan Konsultan Halal SWAKARTA® akan melakukan verifikasi dan validasi dalam waktu 24 jam untuk proses Sertifikasi Halal Self Declare.</h3>
              <form action="javacript:void(0)" method="post">
                <div class="row p-4 pb-0">
                  <div class="card p-4">
                    <div class="card-title">
                      <h2>
                        Data Pelaku Halal<sup class="text-danger">*</sup>
                      </h2>
                    </div>
                    <div class="row">
                      <!-- <div class="col-lg-4">
                        <div>
                          <div class="d-flex justify-content-center mb-4">
                              <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                              alt="example placeholder" class="img-fluid" style="width: 200px;" />
                          </div>
                          <div class="d-flex justify-content-center">
                              <div class="btn btn-sm btn-outline-primary btn-rounded">
                                  <label class="form-label text-primary m-1" for="customFile1">Upload Foto KTP<sup class="text-danger">*</sup></label>
                                  <input type="file" class="form-control d-none" id="customFile1" />
                              </div>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-lg-12">
                        <div class="card-body">
                          <div class="card-text">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                                <div class="form-outline">
                                  <input type="text" id="form8Example1" class="form-control" />
                                  <label class="form-label" for="form8Example1">Nama Lengkap<sup class="text-danger">*</sup></label>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                                <div class="form-outline">
                                  <input type="text" name="nik" id="" class="form-control">
                                  <label for="nik" class="form-label">NIK<sup class="text-danger">*</sup></label>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                                <div class="form-outline">
                                  <input type="email" id="form8Example2" class="form-control" />
                                  <label class="form-label" for="form8Example2">Email<sup class="text-danger">*</sup></label>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                                <div class="form-outline">
                                  <input type="text" id="form8Example2" class="form-control" />
                                  <label class="form-label" for="form8Example2">No. Telpon / Whatsapp<sup class="text-danger">*</sup></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row p-4 pb-0">
                  <div class="card p-4">
                    <div class="card-title">
                      <h2>
                        Data Usaha<sup class="text-danger">*</sup>
                      </h2>
                    </div>
                    <div class="row">
                      <div class="card-body">
                        <div class="card-text">
                          <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pb-4">
                              <div class="form-outline">
                                <input type="text" name="nama-usaha" id="nama-usaha" class="form-control" />
                                <label class="form-label" for="nama-usaha">Nama Usaha<sup class="text-danger">*</sup></label>
                              </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pb-4">
                              <div class="form-outline">
                                <input type="text" name="alamat-usaha" id="alamat-usaha" class="form-control">
                                <label for="alamat-usaha" class="form-label">Alamat Usaha<sup class="text-danger">*</sup></label>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-4">
                              <div class="form-outline">
                                <input type="text" name="jenis-usaha" id="jenis-usaha" class="form-control" />
                                <label class="form-label" for="jenis-usaha">Jenis Usaha<sup class="text-danger">*</sup></label>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-4">
                              <div class="form-outline">
                                <input type="text" name="nib" id="" class="form-control">
                                <label for="nib" class="form-label">NIB <sup class="text-muted">(jika sudah memiliki)</sup></label>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-4">
                              <div class="form-outline">
                                <input type="text" name="bahan-cleaning-agent" id="bahan-cleaning-agent" class="form-control">
                                <label for="bahan-cleaning-agent" class="form-label">Bahan Cleaning Agent<sup class="text-danger">*</sup></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row p-4 pb-0">
                  <div class="card p-4">
                    <div class="card-title">
                      <h2>
                        Data Produk<sup class="text-danger">*</sup>
                      </h2>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 pb-4">
                        <div class="card bg-secondary bg-opacity-25">
                          <div class="card-header">Produk 1<sup class="text-danger">*</sup></div>
                          <div class="p-4">
                            <div class="card" style="height: 16rem; max-width: 20rem;">
                              <div class="card-body">
                                <div class="card-text">
                                  <label class="form-label" for="">Foto Produk</label>
                                </div>
                                <div class="bg-image hover-overlay ripple pb-2" data-mdb-ripple-color="light">
                                  <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-thumbnail" style="height: auto; width: 14rem;">
                                  <a href="javascript:void(0)" class="text-decoration-none">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                      <div class="badge badge-light">
                                          <label class="form-label text-muted m-1" for="customFile1">Change Photo</label>
                                          <input type="file" class="form-control d-none" id="customFile1" />
                                      </div>
                                    </div>
                                  </a>
                                </div>
                                <div class="badge rounded-pill text-bg-primary ">
                                    <label class="form-label text-primary m-1" for="customFile1">Upload Foto<sup class="text-danger">*</sup></label>
                                    <input type="file" class="form-control d-none" id="customFile1" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="card-text">
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                                  <div class="form-outline">
                                    <input type="text" name="nama-produk" id="nama-produk" class="form-control" />
                                    <label class="form-label" for="nama-produk">Nama Produk<sup class="text-danger">*</sup></label>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                                  <div class="form-outline">
                                    <input type="text" name="bahan-kemasan" id="bahan-kemasan" class="form-control">
                                    <label for="bahan-kemasan" class="form-label">Bahan Kemasan<sup class="text-danger">*</sup></label>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-4">
                                  <div class="form-outline">
                                    <textarea class="form-control" name="bahan-produk" id="bahan-produk" rows="2"></textarea>
                                    <label class="form-label" for="bahan-produk">Bahan Produk<sup class="text-danger">*</sup></label>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-4">
                                  <div class="form-outline">
                                    <textarea class="form-control" name="proses-pembuatan" id="proses-pembuatan" rows="2"></textarea>
                                    <label class="form-label" for="proses-pembuatan">Proses Pembuatan<sup class="text-danger">*</sup></label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 pb-4">
                        <div class="card bg-secondary bg-opacity-25">
                          <div class="card-header">Produk 2</div>
                          <div class="p-4">
                            <div class="card" style="height: 16rem; max-width: 20rem;">
                              <div class="card-body">
                                <div class="card-text">
                                  <label class="form-label" for="">Foto Produk</label>
                                </div>
                                <div class="bg-image hover-overlay ripple pb-2" data-mdb-ripple-color="light">
                                  <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-thumbnail" style="height: auto; width: 14rem;">
                                  <a href="#!" class="text-decoration-none">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                      <div class="badge badge-light">
                                        <label class="form-label text-muted m-1" for="customFile1">Change Photo</label>
                                        <input type="file" class="form-control d-none" id="customFile1" />
                                      </div>
                                    </div>
                                  </a>
                                </div>
                                <div class="badge rounded-pill text-bg-primary">
                                  <label class="form-label text-primary m-1" for="customFile1">Upload Foto</label>
                                  <input type="file" class="form-control d-none" id="customFile1" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="card-text">
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                                  <div class="form-outline">
                                    <input type="text" name="nama-produk" id="nama-produk" class="form-control" />
                                    <label class="form-label" for="nama-produk">Nama Produk</label>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                                  <div class="form-outline">
                                    <input type="text" name="bahan-kemasan" id="bahan-kemasan" class="form-control">
                                    <label for="bahan-kemasan" class="form-label">Bahan Kemasan</label>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-4">
                                  <div class="form-outline">
                                    <textarea class="form-control" name="bahan-produk" id="bahan-produk" rows="2"></textarea>
                                    <label class="form-label" for="bahan-produk">Bahan Produk</label>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-4">
                                  <div class="form-outline">
                                    <textarea class="form-control" name="proses-pembuatan" id="proses-pembuatan" rows="2"></textarea>
                                    <label class="form-label" for="proses-pembuatan">Proses Pembuatan</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row p-4">
                  <div class="col">
                    <div class="d-flex justify-content-end pt-5">
                      <button type="button" onclick="this.form.reset();" class="btn btn-outline-danger btn-lg">Reset all</button>
                      <button type="button" onclick="location.href='after-submit.html'" class="btn btn-primary btn-lg ms-2">Submit form</button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>

    </section>
    <!-- end form-halal section -->

    <!-- start add info-wa section -->
    <section id="add-info-wa" class="about">

      <div class="container" data-aos="fade-up">

        <div class="row flex-column-reverse flex-md-row gx-0">

          <!-- <div class="col-lg-3 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/from-ppt14.png" class="img-fluid" alt="" style="max-width: 180px; min-width: 80px; height: auto;">
          </div> -->

          <div class="col-lg-12 pull-right d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <!-- <header class="section-header">
                <h2>Kontak</h2>
              </header> -->
              <h2 style="color: #012970;">Masih Ingin Meningkatkan Ketrampilan Bisnis?</h2>
              <h3 style="color: black;">SWAKARTA® “Hub Hulu – Hilir Halal” menyediakan kelas – kelas pelatihan bisnis secara rutin baik secara online maupun offline untuk meningkatkan kapasitas dan ketrampilan bisnis Anda.</h3>
              <h3 style="color: black;">Dapatkan Jadwal Diklat Bisnis selengkapnya dengan menghubungi Konsultan Halal SWAKARTA®</h3>
              <div class="text-center text-lg-start pt-4">
                <h2 style="color: #012970;">Ingin Tahu Jadwal Kelas Bisnis?</h2>
                <a href="https://wa.me/628112639118" target="_blank" class="btn-wa d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Whatsapp</span>
                  <i class="bi bi-whatsapp"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>
    <!-- end add info-wa section -->

    <!-- start logo bottom section -->
    <!-- <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <header class="section-header">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pb-4">
                    <img src="assets/img/swakarta-logo.png" class="img-fluid img-r" alt="" style="max-width: 25px; min-width: 180px; height: auto;">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="assets/img/logo-halal-indonesia.png" class="img-fluid img-r" alt="" style="max-width: 12px; min-width: 115px; height: auto;">
                </div>
            </div>
          </header>
        </div>
      </div>

    </section> -->
    <!-- end logo bottom section -->

    <!-- ======= support by Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2 class="text-dark">Didukung oleh</h2>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/yhji.png" class="img-fluid" alt="" style="min-width: 100px;"></div>
            <div class="swiper-slide"><img src="assets/img/insani-logo.png" class="img-fluid" alt="" style="min-width: 142px;"></div>
            <div class="swiper-slide"><img src="assets/img/pasifamal.png" class="img-fluid" alt="" style="min-width: 100px;"></div>
            <div class="swiper-slide"><img src="assets/img/komunitas-pasifamal.png" class="img-fluid" alt="" style="min-width: 100px;"></div>
            <!-- <div class="swiper-slide"><img src="assets/img/bpjph-logo-2.png" class="img-fluid pe-5" alt="" style="min-width: 122px;"></div> -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section>
    <!-- End support by Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 footer-info text-center text-md-start">
            <a href="" class="d-block align-items-center">
              <img src="assets/img/swakarta-logo.png"  style="max-height: 130px;" alt="">
            </a>
            <div class="social-links mt-3">
              <a href="https://www.youtube.com/results?search_query=swakarta" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a>
              <a href="https://www.instagram.com/#" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://twitter.com/search?q=swakarta&src=recent_search_click" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              WAQF SQUARE <br>
              Jl. Kusumanegara 284B, Rejowinangun, Kotagede<br>
              Yogyakarta <br><br>
              <strong>Phone :</strong> 0811 283 6553<br>
              <strong>Email :</strong> swakarta.id@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SertifikasiHalal</span></strong> 2023. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- helper js -->
  <script src="assets/js/owl-carousel.js"></script>

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

</body>

</html>
